.join .pseudo-border {
    top: 22px;
    left: -22px;
}

@media only screen and (max-width: 1200px) {
    .join .pseudo-border {
        top: 29px;
    }

    .join .pseudo-border::before {
        top: 6%;
    }
}

@media only screen and (max-width: 992px) {
    .join .pseudo-border::before {
        top: 1%;
        left: 17%;
    }
}

@media only screen and (max-width: 768px) {
    .join .pseudo-border::before {
        top: 7%;
        left: 13%;
    }
}

@media only screen and (max-width: 575px) {
    .join .pseudo-border {
        top: 36px;
        left: 3px;
    }

    .join .pseudo-border::before {
        top: 1%;
        left: 7%;
    }
}