@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;700;800&display=swap");
@layer components {
    .all_center {
      @apply flex justify-center items-center;
    }
  }
.productTab {
    box-shadow: none !important;
    .z-20{
        color: #000;
    }
    &:focus{
        .z-20{
            color: #fff!important;
        }
    }
    .absolute{
        border-radius: 0;
        background: #21bf73;
    }

   
}

/* width */
::-webkit-scrollbar {
    width: 16px;
    height: 16px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: #edf2f7;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #cbd5e0;
    border-radius: 100vh;
    border: 3px solid #edf2f7;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #a0aec0;
  }
