.cardCustomWidth{
    width:25%;
}
/* .caroselArea>div{
    margin-right: 10px !important;
} */
.react-multiple-carousel__arrow::before{
    color:#f1f1f1
}
.react-multiple-carousel__arrow{
    background:#21BF73;
}
.react-multiple-carousel__arrow:hover{
    background:#1c9e5f;
}
.react-multi-carousel-item {
    margin: 0 5px;
}
@media only screen and (max-width: 1200px) {
    .practiceCarosel>div{
        margin-right: 10px !important;
    }
   .card{
        width:15rem !important;
    }

  }

  @media only screen and (max-width: 1025px) {
    .card{
        width:400px;
    }

  }
 